.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.new-game {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  cursor: pointer;
}
.moves-count,
.misses-count {
  font-size: 2.6rem;
}
.stats {
  display: flex;
  gap: 2.4rem;
}
