.container {
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  padding: 2.4rem;
  border: 10px solid black;
  border-radius: 11px;
  /* background-color: green; */
}
