* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #dafffb, #4b9a9d, #29262b);
}
#root {
  padding: 0 1.2rem;
}

@media (max-height: 57em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-height: 52em) {
  html {
    font-size: 50%;
  }
}

@media (max-height: 46em) {
  html {
    font-size: 42%;
  }

  .wrapper {
    gap: 1.2rem;
  }
}

@media (max-width: 43em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-height: 37em) {
  .card {
    height: 12rem;
    width: 9rem;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 29em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 22em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 18em) {
  html {
    font-size: 25%;
  }
}

/* !Temporay styles  */
